.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}
.axis text {
	font-family: sans-serif;
	font-size: 11px;
}
.bar_rect{
	fill: rgba(0,0,0,0.8);
}
.bar_rect1850{
	fill: rgba(255,245,240,1);
}
.bar_rect1914{
	fill: rgba(254,224,210,1);
}
.bar_rect1957{
	fill: rgba(252,187,161,1);
}
.bar_rect1960{
	fill: rgba(252,146,114,1);
}
.bar_rect1990{
	fill: rgba(251,106,74,1);
}
.bar_rect2002{
	fill: rgba(239,59,44,1);
}
.bar_rect2013{
	fill: rgba(203,24,29,1);
}
.bar_rect1850:hover, .bar_rect1914:hover, .bar_rect1957:hover, 
.bar_rect1960:hover, .bar_rect1990:hover, .bar_rect2002:hover,
.bar_rect2013:hover{
	fill: black;
}
.chart-title{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 14px;
}
.chart-tooltip{
	background-color: #eee;
	box-shadow: 0 0 5px #999999;
	color: #333;
	display: none;
	font-size: 12px;
	left: 130px;
	padding: 10px;
	position: absolute;
	text-align: center;
	top: 95px;
	width: 100px;
	z-index: 10;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	pointer-events: none;
	font-family: sans-serif;
}
.tooltip-year{
	font-weight: bold;
}

.tick text {
	font-size: 25px;
}

.grid .tick{
	stroke: lightgrey;
	opacity: 0.7;
}

.grid path{
	stroke-width: 0;
}

@media only screen and (min-width: 1080px) {
	.tick text {
		font-size: 10px;
	}
	.chart-tooltip{
		width: 140px;
	}
}

@media only screen and (min-width: 8000px) {
	.tick text {
		font-size: 30px;
	}
	.chart-title{
		font-size: 40px;
	}
	.chart-tooltip{
		width: 370px;
		font-size: 30px;
	}
}